@media screen and (max-width:2000px)
{
.modelclothes{
	padding: 60px 30px;
}
.infolook{
	width: 50%;
}
}

@media screen and (max-width:1900px)
{
.modelclothes{
	padding: 60px 10px;
}
}

@media screen and (max-width:1800px)
{
.look-title {
    font-size: 37px;
    margin-top: 40px;
}
.modelitem{
	width: 380px;
}
.mitem4, .mitem3 {    
    width: 788px;
}
.slidersearch{
	display: none;
}
}
@media screen and (max-width:1700px)
{
	.lookbook{
		/*flex-direction: column;*/
		-ms-flex-wrap: wrap;

		    flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		        justify-content: center;
	}
	.lookitem {
    width: 40%;
    margin-right: 2%;

}
	.yourlook {
    margin-top: 30px;
    width: 82%;
    margin-top:2%;
    padding: 30px 10% 0px 10%;

}
.look-title {
    margin-top: 80px;
}
.imagelook3 img{
	margin-left: 30px;
}
.wrapp-model{
/*	margin: 0% 10%;*/
}
.modelitem {
    width: 450px;
    height: 536px;
}
.mitem4, .mitem3 {    
    width: 928px;
    height: 751px;
}
}
@media screen and (max-width:1400px)
{
	.mitem4, .mitem3 {    
    display: inline-block;
}
	.wrapp-model{
		text-align: center;
	}
		.modelitem{
		text-align: left;
	}
	.price{
	text-align: left;
	}
}

@media screen and (max-width:1350px)
{
	.AVE h1{
		font-size: 400px;
	}
	.menu{
		margin-left: 0px;
		float: right;
		right: 50px;
	}
	.lookitem{
		width: 80%;
		margin-top: 30px;
		padding: 20px 5% 0px 5%;
	}
	.look-title {
    font-size: 50px
}
    .look-btn{
	font-size: 30px;
    }
    .lookitem{
	margin-right: 0px;
    }
    .wrappflex {
    justify-content: space-around;
}
	.modelmenu{
		text-align: center;
	}

}

@media screen and (max-width:1250px)
{
		.AVE h1{
		font-size: 350px;
	}
	.footer-lookbook{
		display: none;
	}
	.logo{
		float: left;
	}
.headercontainer {
    margin: 0px 20px;
}
.menu{
	right: 20px;
}
}

@media screen and (max-width:1050px)
{
	.AVE h1 {
    font-size: 300px;
}
.slider-bg, .slider-bg1, .slider-bg2{
	height: 800px;
}
}

@media screen and (max-width:950px)
{
	#avenue{
font-size: 30px;
}
	.AVE h1{
		font-size: 250px;
		margin-top: 75px;
	}
.modelitem {
    width: 320px;
    height: 381px;
}
.mitem4, .mitem3 {    
    width: 653px;
    height: 777px;
}
.modelitem{
	margin: 0.4em;
}
.wrapp-model{
	margin: 0;
}
.wrapp-model:last-child{
	margin-bottom: 40px;
}
	.modelmenu{
	margin: 40px 0px 25px 0px;
	}
.modelclothes {
     padding: 40px 0px; 
}
.lookbook {
    padding-bottom: 60px;
}
.award {
    margin-top: 25px;
    }
    .menu{
    	display: none;
    }
    #nav-btn
    {
        position: absolute;
        /*top: -18px;*/
        right: 95px;

        display: inline-block;

        width: 50px;
        height: 35px;
    }
    .menu li
    {
        display: inline-block;
        text-align: center;
    }
    .menu{
    	margin-top: 120px;
    }
.btn-shopmens {
    margin-right: 35px;
    margin-top: 620px;
   background: #f8f8f8;
}
}

@media screen and (max-width:850px)
{

.AVE h1{
	margin-top: 150px;
	font-size: 175px;
}
	.imagelook3 img{
		margin-left: 0;
		padding-left: 0;
	}

.modelmenu li{
	padding-right: 30px;
}
}

@media screen and (max-width:750px)
{
	.AVE h1{
	margin-top: 250px;
	font-size: 205px;
}
#avenue{
font-size: 35px;
}
.menu{
	margin-top: 75px;
    /*margin-right: -17px;*/
	margin-right: 50px;
}
.menu li{
	display: block;
	padding-top: 20px;
	text-align: right;
}
.menu li:before {
  margin-top: 0px;
  margin-left: -15px;
}
.slider-bg, .slider-bg1, .slider-bg2{
background-position: 45% 50%;
}
.lookitem img{
	display: none;
}
.menlook{
	/*background: #f8f8f8 url(../img/men.png) no-repeat;*/
background:
/* линейный градиент */
linear-gradient(
rgba(255, 255, 255, 0.5),
rgba(200, 200, 200, 0.5)
),
url(../img/men.png) no-repeat;
}
.womenlook{
	/*background: #f8f8f8 url(../img/men.png) no-repeat;*/
background:
/* линейный градиент */
linear-gradient(
rgba(255, 255, 255, 0.5),
rgba(200, 200, 200, 0.5)
),
url(../img/women.png) no-repeat;
}
.yourlook{
	/*background: #f8f8f8 url(../img/men.png) no-repeat;*/
background:
/* линейный градиент */
linear-gradient(
rgba(255, 255, 255, 0.5),
rgba(200, 200, 200, 0.5)
),
url(../img/your.png) no-repeat;
}

.infolook{
	width: 100%;
}
.footer-award{
    display: table;
	width: 80%;
	margin: 0 auto;
}
 .footer-social{
	display: table;
	float: none;
	width: 80%;
	margin: 15px auto;
 }
 .footer-social a{
    display: table-cell;
	text-align: center;

}
}

@media screen and (max-width:700px)
{
	.modelmenu li{
	display: none;
	}
	.modelitem {
    width: 520px;
    height: 619px;
}
.footer-whybuy{
	display: none;
}
li.currency.clearfix, .register{
	padding: 15px 0px;
}

}
@media screen and (max-width:600px)
{
.register li{
	padding: 15px;
}

.footer-bottom-right span:last-child{
	display: none;
}
.footer-bottom-right span:first-child{
	padding-right: 0px;
}
.AVE h1 {
    margin-top: 250px;
    font-size: 155px;
}
.modelitem {
    width: 420px;
    height: 500px;
}
.wrappflex{
	/*flex-wrap: wrap;*/
	-webkit-box-orient: vertical;

	-webkit-box-direction: normal;

	-ms-flex-direction: column;

	        flex-direction: column;
	text-align: center;
}
}

@media screen and (max-width:500px)
{
	.menu{
	margin-right: -17px;
	}
	.AVE h1 {
    margin-top: 275px;
    font-size: 125px;
}
#nav-btn {
	right: 25px;
}
	.footer-info, .footer-account, .footer-contact{
		margin: 30px;
		margin-bottom: 0px;
	}
	.register li:last-child{
		display: none;
	}

	.modelitem {
    width: 350px;
    height: 417px;
}
.look-btn{
	background-color: rgba(255, 255, 255, 0.7);
}
.footer-award{
	font-size: 30px;
}
.btn-shopmens {
    margin-top: 520px;
    /*margin-left: 15px;*/
    /*float: none;*/
}
	.slider-bg, .slider-bg1, .slider-bg2{
background-position: 35% 50%;
}
}

@media screen and (max-width:400px)
{
	.menu{
		margin-right: -17px;
	}
	.btn-shopmens {
	margin-top:500px;
	padding: 15px;
}
	.modelitem {
    width: 240px;
    height: 286px;
}
.look-title{
	font-size: 44px;
}
.btn-shopmens{
	font-size: 15px;
}
}

@media screen and (max-width:370px)
{
	.footer-bottom-right{
	float: none;
}
.look-btn {
    font-size: 18px;
}
.register li{
	padding-left: 0px;
	}
	#avenue{
		display: block;
	}
	.AVE h1{
		font-size: 100px;
	}
.btn-shopmens{
	font-size: 13px;
}
}

@media screen and (max-width:340px)
{
	.look-title {
    font-size: 35px;
}
}
