.f-form{
	background-color: #111111;
	padding-top: 90px;
	padding-bottom: 90px;
}
#footer-form{
	background-color: #ffb118;
	border-radius: 5px;
	color:#fff;
	padding: 35px;
	padding-top: 80px;
}
#footer-form:before{
	content: " ";
	background: url(../image/form-email.png);
	position: absolute;

	left:45%;

	display: block;

	margin-top: -125px;

	height: 90px;
	width: 90px;
}
.footer-form-register{
	display: block;
	font-size: 20px;
	text-transform: uppercase;
	font-family: Titillium Web;
	font-weight: bold;
}
.footer-form-getlatest{
	font-size: 12px;
	text-transform: uppercase;
	font-family: Lato;
	/*font-weight: bold;*/
}
.subcribeForm input{
	/*background-color: none;*/
}
.enterEmail{
	font-family: Lato;
	font-weight: lighter;
	background: none;
	color:#fff;
	font-size: 12px;
	border: 1px solid #fff;
	padding: 18px;
	width: 100%;
	letter-spacing: 2px;
}
.btn-subscribe{
	font-family: Titillium Web;
	font-weight: bold;

	color:#333;
	border: none;
	border-bottom-left-radius: 5px;
	font-size: 15px;
	padding: 18px;
	width: 100%;
	text-align: left;

	background: url(../image/btn-dot.png) no-repeat right;
	background-color: #fff;
	background-size: contain;
	/*background-position: right;*/
}
input[type="email"]::placeholder 
{ color: #fff;

/*.btn-subscribe:after{
	content: "../image/bg-button.png";
	
}*/
